.locationTemperature {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.locataionTemperature__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
